{% load static %}
{% include 'headermissao.html' %}

<body>
    {% include 'cabecalho.html' %}
    <div class="__container">
        <div class="__child">
            <div class="__wallpaper">
            </div>
            <div class="__titulos">
                <div>
                    <h1>Para fazer da ETS uma comunidade mais comunicativa e educativa.</h1>
                    <h3>
                        É por meio da tecnologia e aprendizado constante que vamos tornar os nossos 
                        aprendizer mais preparados para atuarem na industria.
                        Para que eles possam fazer tecnologia para a vida!
                    </h3>
                </div>
            </div>
        </div>
        <div class="__boasvindas">
            <h1>Seja muito bem vindo!</h1>
        </div>

        <div class="__card">
            <div class="__conteudo __fundocinza">
                <p>
                    São mais de 60 anos que a ETS existe na Bosch, sendo diversos os colaboradores que já se formaram nela obtendo conhecimentos e formação técnica.
                </p>
            </div>
            <div class="__image __educacao">
            </div>
        </div>
        <div class="__card">
            <div class="__image __company">
            </div>
            <div class="__conteudo __fundobranco">
                <p>
                    São mais de 60 anos que a ETS existe na Bosch, sendo diversos os colaboradores que já se formaram nela obtendo conhecimentos e formação técnica.
                </p>
            </div>
        </div>
        <div class="__card">
            <div class="__conteudo __fundocinza">
                <p>
                    São mais de 60 anos que a ETS existe na Bosch, sendo diversos os colaboradores que já se formaram nela obtendo conhecimentos e formação técnica.
                </p>
            </div>
            <div class="__image __studants">
            </div>
        </div>
        <div class="__card">
            <div class="__image __industry">
            </div>
            <div class="__conteudo __fundobranco">
                <p>
                    São mais de 60 anos que a ETS existe na Bosch, sendo diversos os colaboradores que já se formaram nela obtendo conhecimentos e formação técnica.
                </p>
            </div>
        </div>
    </div>
    {% include 'rodape.html' %}
</body>
</html>