@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: aqua; */
}

.cabecalho{
    /* border: 1px solid #000; */
    width: 100%;
    height: 80px;
    display: flex;
    /* position: fixed; */
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 150px;
    height: 50px;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

a{
    color: #000;    
    text-decoration: none;
}

.links{
    width: 500px;
    height: 50px;
    display: flex;
    color: #000;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
}

.postar{
    width: 100px;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    background-color: #2149FB;
}

/*////////////////////////////////////////////////////////////////*/

.company{
    width: 100%;
    height: 30%;
}

.titulocursos{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.titulocursos h2{
    color:#fff;
    padding: 6px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    background-color: #2149FB;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.5);
}

.icones-container{
    width: 100%;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.icon-conteudo{
    padding: 3px;
    width: 200px;
    display: grid;
    height: 200px;
    text-align: center;
    align-items: center;
    align-items: center;
    border: 1px solid #000;
    transition: all 0.3s ease-out;
    box-shadow: 7px 7px 13px 0px rgb(50, 50, 50, 0.50);
}

.icon-conteudo p{
    font-size: small;
}

.icon-conteudo:hover {
    color: #fff;
    background-color: #000;
    transform: translateY(-5px);
}

.icon{
    padding: 10px;
    border-radius: 50%;
    background-color: #2149FB;
}

.conteudo{
    width: 100%;
    display: flex;
    color: #fff;
    height: 800px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    background-color: #2149FB;
}

.teceducacao{
    /* border: 1px solid #000; */
    width: 30%;
    height: 80%;
    border-radius: 10px;
    background-size: cover;
    background-image: url(../img/teceducacao.jpg);
}

.row {
    width: 50%;
    color: #000;
    align-items: center;
    justify-content: center;
}
	
.card {
  width: 100%;
  margin: 20px;
  height: 200px;
  padding: 30px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  transition: all 0.3s ease-out;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.50);
}

.card:hover {
    transform: translateY(-5px);
}
   
.card p {
    color: #fff;
    font-size: 16px;
}

.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}

/* ///////////////////////////////////////////////////////// */

.container{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.child{
    /* border: 1px solid #000; */
    width: 100%;
    height: 500px;
    display: flex;
    color: #fff;
    justify-content: center;
    background-color: #000;
}

.global{
    /* border: 1px solid #fff; */
    width: 80%;
    height: 90%;
    margin-top: 50px;
}

.local{
    /* border: 1px solid #fff; */
    width: 100%;
    height: 60%;
    display: flex;
}

.localBottom{
    /* border: 1px solid #fff; */
    width: 100%;
    height: 40%;
    display: flex;
}

.interno{
    /* border: 1px solid #fff; */
    width: 50%;
    height: 100%;
}

.TitleRede{
    text-align: right;
}

.apps{
    border: 3px solid #fff;
    width: 400px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
}

.iconsroda{
    /* border: 1px solid #fff; */
    width: 70%;
    float: right;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.iconroda{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
}

.interno ul{
    text-align: right;
}

.iconroda img{
    width: 80px;
    height: 80px;
}

.text{
    padding: 10px;
}